<extend name="Layout/page_base" />
<block name="content">
	{:W('PageHeader/simple',array('name'=>'推送设置','search'=>'N'))}
	<form method='post' id="form_data" class="well form-horizontal">
		<label class="col-sm-2 control-label" >邮件后台接受</label>
		<a onclick="stop_receve_mail()"  class="display-none stop_receve_mail btn btn-sm btn-primary">停止</a>
		<a onclick="start_receve_mail()"  class="start_receve_mail btn btn-sm btn-primary">启动</a>
	</form>

	<form method='post' id="form_data" class="well form-horizontal">
		<label class="col-sm-2 control-label" >微信推送：</label>
		<a onclick="stop_send_wechat()"  class="display-none stop_send_wechat btn btn-sm btn-primary">停止</a>
		<a onclick="start_send_wechat()"  class="start_send_wechat btn btn-sm btn-primary">启动</a>
	</form>
</block>
<block name="js">
	<script type="text/javascript">
		var receve_mail_flag = false;
		var send_wechat_flag = false;

		function start_receve_mail() {
			receve_mail_flag = true;
			$(".start_receve_mail").addClass("display-none");
			$(".stop_receve_mail").removeClass("display-none");

			sendAjax("{:U('receve_mail')}", '', function(data) {
				if (receve_mail_flag) {
					start_receve_mail();
				}
			});
		}

		function stop_receve_mail() {
			$(".start_receve_mail").removeClass("display-none");
			$(".stop_receve_mail").addClass("display-none");
			receve_mail_flag = false;
		}

		function start_send_wechat() {
			send_wechat_flag = true;
			$(".start_send_wechat").addClass("display-none");
			$(".stop_send_wechat").removeClass("display-none");
			sendAjax("{:U('send_wechat')}", '', function(data) {
				if (send_wechat_flag) {
					start_send_wechat();
				}
			});
		}

		function stop_send_wechat() {
			$(".start_send_wechat").removeClass("display-none");
			$(".stop_send_wechat").addClass("display-none");
			send_wechat_flag = false;
		}

	</script>
</block>