<extend name="Layout/page_popup" />
<block name="content">
	<style>
		.sub_left_menu {
			height: 500px;
			overflow-y: scroll;
		}
	</style>
	{:W('PageHeader/popup',array('name'=>'添加成员','search'=>'S'))}
	<div class="operate panel panel-default">
		<div class="panel-body">
			<div class="col-sm-4 search_box">
				<form name="form_search" id="form_search" method="post" class="pull-right">
					<div class="input-group col-20">
						<input  class="form-control" type="text" name="keyword" id="keyword"/>
						<div class="input-group-btn">
							<a class="btn btn-sm btn-info" onclick="submit_search();"><i class="fa fa-search" ></i></a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 列表显示区域  -->
	<div class="row">
		<form id="form_data" name="form_data" method="post" >
			<input type="hidden" name="opmode" id="opmode" value="add">
			<input type="hidden" name="group_id" id="group_id" value="{$group_id}">
			<div class="col-xs-12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="text-center col-5"><label class="inline pull-left">
								<input class="ace" type="checkbox" name="id-toggle-all" id="id-toggle-all" />
								<span class="lbl"></span></label></th>
							<th>
							<nobr>
								员工编号
							</nobr></th>
							<th>
							<nobr>
								姓名
							</nobr></th>
							<th>
							<nobr>
								部门
							</nobr></th>
							<th class="display-none">
							<nobr>
								职级
							</nobr></th>
							<th>
							<nobr>
								职位
							</nobr></th>
							<th>
							<nobr>
								状态
							</nobr></th>
						</tr>
					</thead>
					<tbody class="tbody">
						<volist name="user_list" id="data">
							<tr id="{$data.id}">
								<td class="text-center col-3"><label class="inline pull-left">
									<input class="ace" type="checkbox" name="user_id[]" value="{$data.id}" />
									<span class="lbl"></span></label></td>
								<td>
								<nobr>
									{$data.emp_no}
								</nobr></td>
								<td>
								<nobr>
									{$data.name}
								</nobr></td>
								<td>
								<nobr>
									{$data.dept_name}
								</nobr></td>
								<td class="display-none">
								<nobr>
									{$data.rank_name}
								</nobr></td>
								<td>
								<nobr>
									{$data.position_name}
								</nobr></td>
								<td>
								<nobr>
									{$data.is_del|status}
								</nobr></td>
							</tr>
						</volist>
					</tbody>
				</table>
			</div>
		</form>
	</div>

</block>
<block name="js">
	<script type="text/javascript">
		function save() {
			if ($("input:checked[name='user_id[]']").length < 1) {
				ui_error("请选择用户");
				return false;
			};

			var vars = $("#form_data").serialize();
			sendAjax("{:U('save_user')}", vars, function(data) {
				if (data.status) {
					ui_alert(data.info, function() {
						parent.location.reload(true);
						myclose();
					});
				}
			});

		}
	</script>

</block>